.navbar {
    background: var(--card-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 0 2rem;
  }
  
  .nav-logo {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 1000;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: var(--card-color);
  }
  
  .nav-menu.active {
    left: 0;
    opacity: 1;
  }

  .nav-item {
    padding: 2rem 0;
    width: 100%;
    margin: 0 1rem;
  }
  
  .nav-link {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    font-size: 2rem;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
  }
  
  .nav-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-text-color);
    z-index: 1000;
  }
  
  
@media screen and (min-width: 960px) {
  .navbar {
    margin-bottom: 2rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    transition: none;
  }

  .nav-item {
    margin: 0 1rem;
    padding: 0;
    width: auto;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .nav-link:hover,
  .nav-link.active {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
  }

  .nav-icon {
    display: none;
  }

}

@media screen and (min-width: 430px) {
  .navbar {
    margin-bottom: 2rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    transition: none;
  }

  .nav-item {
    margin: 0 1rem;
    padding: 0;
    width: auto;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .nav-link:hover,
  .nav-link.active {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
  }

  .nav-icon {
    display: none;
  }
  
}